<!DOCTYPE html>



<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/b/b1/Anton_supercomputer.jpg">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/scripts.js" charset="utf-8"></script>
    <title>Anthon</title>
  </head>
  <body>
  <div class="context">
    <h1>You will feel the Wrath of Anthon.</h1>
    <center>
    <div style="text-align:center;width:480px;">
      <button class = "button" id="Up">FORWARD</button><br><br>
      <button class = "button" id="Left">LEFT</button>
      <button class = "button" id="Right">RIGHT</button><br><br>
      <button class = "button" id="Down">BACKWARD</button>
    </div>
  </center>
 </div>


<div class="area" >
         <ul class="circles">
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
         </ul>
 </div >
  </body>
</html>
